main{
    margin: 50px auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

main div img{
    width: 600px;
    height: 400px;
}

main .content{
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .content h1{
    font-size: 65px;
    color: var(--primary-color);
    text-align: center;
}

main .content p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
    text-align: center;
    margin-top: 50px;
}

