@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --primary-color: #355389;
    --background-color:  #edf1f8;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    font-family: 'Ubuntu', sans-serif;
}

header nav{
    padding: 20px 0;
    color: white;
    font-weight: bold;
    margin: auto;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav img{
    width: 150px;
}

header nav a{
    color: var(--primary-color);
    padding: 10px 24px;
}

a{
    text-decoration: none;
}