{% extends "layout.njk" %}
{% block content %}
    <form action="/students" method="post">
        <h1>Cadastro de Aluno</h1>
        <fieldset>
            <legend>
                <h2>Dados do aluno</h2>
            </legend>

            <div class="field-group">
                <div class="field">
                    <label for="name">Nome do aluno</label>
                    <input type="text" name="name" required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="cpf">CPF</label>
                    <input type="text" name="cpf" required="required" minlength="14" maxlength="14" class="form-control" onkeypress="$(this).mask('000.000.000-00');">
                </div>

                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" name="email" required="required">
                </div>
            </div>    
            

            <div class="field-group">
                 <div class="field">
                    <label for="fone">Telefone</label>
                    <input type="text" name="fone" required="required" minlength="14" maxlength="15" class="form-control" onkeypress="$(this).mask('(00) 0000-00009')">
                </div>                         

                <div class="field">
                    <label for="cep">Cep</label>
                    <input type="text" name="cep" required="required" minlength="10" maxlength="10" class="form-control" onkeypress="$(this).mask('00.000-000')">
                </div>
            </div>

            <div class="field-group">
                 <div class="field">
                    <label for="address">Endereço</label>
                    <input type="text" name="address" required="required">
                </div>               

                <div class="field">
                    <label for="addressnumber">Número / Complemento</label>
                    <input type="text" name="addressnumber">
                </div>

                <div class="field">
                    <label for="neighborhood">Bairro</label>
                    <input type="text" name="neighborhood" required="required">
                </div>
            </div>


            <div class="field-group">
                 <div class="field">
                    <label for="uf">Estado</label>
                    <select name="uf" required="required">
                        <option value="">Selecione o Estado</option>
                    </select>
                    <input type="hidden" name="state">
                </div>               

                <div class="field">
                    <label for="city">Cidade</label>
                    <select name="city" disabled="disabled" required="required">
                        <option value="">Selecione a cidade</option>
                    </select>
                </div>
            </div>

        </fieldset>
        <fieldset>
            <legend>
                <h2>Dados do Curso</h2>
            </legend>
            <div class="field-group">
                <div class="field">
                    <label for="course">Curso</label>
                    <select name="course" required="required">
                        <option value="">Selecione um curso</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <button type="submit">Cadastrar aluno</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
{% endblock content %}