{% extends "layout.njk" %}
{% block content %}
    <div class="table table-container">
        <a href="/students/create">Novo Aluno</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>CPF</th>
                    <th>Curso</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            {{student.name}}
                        </td>
                        <td>
                            {{student.cpf}}
                        </td>
                        <td>
                            <span>{{student.typecourse}}</span>
                        </td>
                        <td>
                            {{course.total_students}}
                        </td>
                        <td><a href="/students/{{students.cod}}">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}