{% extends "layout.njk" %}
{% block content %}
    <div class="table table-container">
        <div class="header">
            <a href="/students/create" class="button">Novo Aluno</a>
            <form action="/students" method="GET">
                <input
                    type="text"
                    name="filter"
                    placeholder="Filtrar por Curso"
                    value="{{filter}}">
                    <button type="submit">Filtrar</button>
            </form>
            <a download="DataStudents.xls" href="#" onclick="return ExcellentExport.excel(this, 'tbStudent', 'Dados de Estudante');">Exportar</a>
        </div>
        <table width="100%" id="tbStudent">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>CPF</th>
                    <th>Curso</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            {{student.name}}
                        </td>
                        <td>
                            {{student.cpf}}
                        </td>
                        <td>
                            <span>{{student.coursename}}</span>
                        </td>
                        <td><a href="/students/{{student.cod}}">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/excellentexport@3.4.3/dist/excellentexport.min.js"></script>
    <script src="http://requirejs.org/docs/release/2.3.6/minified/require.js"></script>
    <script>
        require(['dist/excellentexport'], function(ee) {
            window.ExcellentExport = ee;
        });
    </script>
{% endblock content %}