{% extends "layout.njk" %}
{% block content %}
    <table width="100%">
        <thead>
            <tr>RA</tr>
            <tr>Aluno</tr>
            <tr>Curso</tr>
            <tr>Ação<tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    
                </td>
            </tr>
        </tbody>
    </table>
{% endblock content %}