{% extends "layout.njk" %}
{% block content %}
    <section class="card">
        <h1>Detalhes do Aluno</h1>
        <fieldset>
            <legend>
                <h2>Dados do aluno</h2>
            </legend>

            <div class="field-group">
                <div class="field">
                    <label for="name">Nome do Aluno</label>
                    <div class="fielddata">{{student.name}}</div>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="cpf">CPF</label>
                    <div class="fielddata">{{student.cpf}}</div>
                </div>

                <div class="field">
                    <label for="email">Email</label>
                    <div class="fielddata">{{student.email}}</div>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="fone">Telefone</label>
                    <div class="fielddata">{{student.fone}}</div>
                </div>

                <div class="field">
                    <label for="cep">Cep</label>
                    <div class="fielddata">{{student.cep}}</div>
                </div>
            </div>
            
            <div class="field-group">
                <div class="field">
                    <label for="address">Endereço</label>
                    <div class="fielddata">{{student.address}}</div>
                </div>
                {% if student.addressnumber == "" %}
                    <div class="field">
                        <label for="addressnumber">Número / Complemento</label>
                        <div class="fielddata"> - </div>
                    </div>
                {% else %}
                    <div class="field">
                        <label for="addressnumber">Número / Complemento</label>
                        <div class="fielddata">{{student.addressnumber}}</div>
                    </div>
                {% endif %}

            </div>  

            <div class="field-group">
                <div class="field">
                    <label for="neighborhood">Bairro</label>
                    <div class="fielddata">{{student.neighborhood}}</div>
                </div>
            </div>  

            <div class="field-group">
                <div class="field">
                    <label for="uf">Estado</label>
                    <div class="fielddata">{{student.state}}</div>
                </div>

                <div class="field">
                    <label for="city">Cidade</label>
                    <div class="fielddata">{{student.city}}</div>
                </div>
            </div>  
        </fieldset>
        <fieldset>
            <legend>
                <h2>Dados do Curso</h2>
            </legend>
            <div class="field-group">
                <div class="field">
                    <label for="course">Curso</label>
                    {% for course in courses %}
                        {% if course.cod == student.course_cod %}
                            <div class="fielddata">{{course.coursename}}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </fieldset>  
        <a href="/students/{{student.cod}}/edit" class="button">Editar Aluno</a> 
    </section>
{% endblock content %}