@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --primary-color: #355389;
    --background-color:  #edf1f8;
    --secondary-color: #f1a350
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
}

header nav{
    padding: 20px 0;
    color: white;
    font-weight: bold;
    margin: auto;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav img{
    width: 150px;
}

header nav a{
    color: var(--primary-color);
    position: relative;
    margin-right: 40px;
}

header nav a.active{
    color: #23395c;
}

header nav a:last-child{
    margin-right: 0;
}

header nav a:hover{
    color: var(--secondary-color);
}

header nav a::after{
    content: "";
    width: 0;
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: var(--secondary-color);
    height: 2px;
}

header nav a:hover:after{
    width: 100%;
    transition:  200ms ease-in-out 300ms;
}

main{
    margin: 50px auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    animation: up 1s ease-in-out;
}


@keyframes up{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}


main div img{
    width: 600px;
    height: 400px;
}

main .content{
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .content h1{
    font-size: 65px;
    color: var(--primary-color);
    text-align: center;
}

main .content p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
    text-align: center;
    margin-top: 50px;
}

/* Students/index */
/* Students/Create */

