@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --primary-color: #355389;
    --background-color:  #edf1f8;
    --secondary-color: #f1a350
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
}

header nav{
    padding: 20px 0;
    color: white;
    font-weight: bold;
    margin: auto;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav img{
    width: 150px;
}

header nav a{
    color: var(--primary-color);
    position: relative;
    margin-right: 40px;
}

header nav a.active{
    color: #23395c;
}

header nav a:last-child{
    margin-right: 0;
}

header nav a:hover{
    color: var(--secondary-color);
}

header nav a::after{
    content: "";
    width: 0;
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: var(--secondary-color);
    height: 2px;
}

header nav a:hover:after{
    width: 100%;
    transition:  200ms ease-in-out 300ms;
}

