@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --primary-color: #355389;
    --background-color:  #edf1f8;
    --secondary-color: #f1a350
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    font-family: 'Ubuntu', sans-serif;
}

header nav{
    padding: 20px 0;
    color: white;
    font-weight: bold;
    margin: auto;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav img{
    width: 150px;
}

header nav a{
    color: var(--primary-color);
    position: relative;
    margin-right: 40px;
    text-decoration: none;
}

header nav a:last-child{
    margin-right: 0;
}

header nav a:hover{
    color: var(--secondary-color);
}

header nav a::after{
    content: "";
    width: 0;
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: var(--secondary-color);
    height: 2px;
}

header nav a:hover:after{
    width: 100%;
    transition:  200ms ease-in-out 300ms;
}

main{
    margin: 50px auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    animation: up 1s ease-in-out;
}


@keyframes up{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

main div img{
    width: 600px;
    height: 400px;
}

main .content{
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .content h1{
    font-size: 65px;
    color: var(--primary-color);
    text-align: center;
}

main .content p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
    text-align: center;
    margin-top: 50px;
}

/* Formulário e visualização dos dados */
.card{
    background-color: white;
    margin: 0px auto;
    padding: 40px 60px;
    width: 60% ;
}

.card fieldset{
    border: none;
    margin-bottom: 40px;
}

.card fieldset legend{
    margin-bottom: 30px;
}

.card h1{
    margin-bottom: 60px;
    color: var(--primary-color);
    font-size: 34px;
}

.card h2{
    color: var(--primary-color);
}

.card .field-group{
    font-family: 'Roboto', sans-serif;
    display: flex;

}

.card .field-group .field{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 24px;
    width:  100px
}

.card .field-group .field label{
    margin-bottom: 20px;
    font-weight: bold;
}

.card .field-group .field input, select, .field .fielddata{
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #f0f0f5;
    border: 0;
}

.card .field-group .field + .field{
    margin-left: 24px;
}

.card fieldset .field-group .field .field-radio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card fieldset .field-group .field .field-radio span{
    font-size: 14px;
    font-weight: bold;
    color: rgba(1, 1, 1, 0.6);
    width: 120px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--secondary-color);
}

.card fieldset .field-group .field .field-radio span input{
    margin-right: 10px;
    outline: none;
}

.card select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.card button[type="submit"], .card .button{
    width: 100%;
    padding: 15px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    outline: none;
}

#button-delete{
    background-color: lightcoral;
}
#delete-form span{
    margin-top: 20px;
    display: inline-block;
}
#delete-form button[disabled] {
    background-color: #a6a6a6;
    cursor: none;
}


/* Página principal de index */
.table{
    background-color: white;
    margin: 0 auto;
    width: 100%;
}

.table-container{
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table{
    border-spacing: 0;
}

.table-container thead{
    text-align: left;
}

td, th{
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

th{
    text-transform: uppercase;
    color: #777777;
    font-size: 14px;
}

tbody tr:last-child td{
    border-bottom: none;
}

tbody tr td:first-child span{
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

tbody tr td:nth-child(3) span{
    display: inline-block;
    padding: 8px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    margin-right: 8px;
    color: rgba(1, 1, 1, 0.6);
    font-size: 14px;
}

tbody tr td:last-child a, .table-container >a{
    background-color: var(--primary-color);
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.table-container >a{
    margin-bottom: 16px;
    display: inline-block;
}

.table-container thead tr th:last-child, td:last-child{
    text-align: center;
}


/* Filtros */
.table-container .header{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    justify-content: space-between
}

.table-container .header a, 
.table-container .header button[type="submit"]{
    background-color: var(--primary-color);
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    text-align: center;
}

.table-container .header form{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-gap: 10px;
    margin-left: 45%;
}

.table-container .header form input{
    border: 1px solid #eee;
    padding: 4px 8px;
    box-sizing: border-box;

}
