{% extends "layout.njk" %}
{% block content %}
    <div class="table table-container">
        <div class="header">
            <a href="/courses/create" class="button">Novo Curso</a>
            <input type="hidden" >
            <a download="DataCourses.xls" href="#" onclick="return ExcellentExport.excel(this, 'tbStudent', 'Dados de Estudante');">Exportar</a>
        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Ch</th>
                    <th>Tipo</th>
                    <th>Alunos</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                    <tr>
                        <td>
                            {{course.coursename}}
                        </td>
                        <td>
                            {{course.ch}}
                        </td>
                        <td>
                            <span>{{course.typecourse}}</span>
                        </td>
                        <td>
                            {{course.total_students}}
                        </td>
                        <td><a href="/courses/{{course.cod}}">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/excellentexport@3.4.3/dist/excellentexport.min.js"></script>
    <script src="http://requirejs.org/docs/release/2.3.6/minified/require.js"></script>
    <script>
        require(['dist/excellentexport'], function(ee) {
            window.ExcellentExport = ee;
        });
    </script>
{% endblock content %}