{% extends "layout.njk" %}
{% block content %}
    <div class="table table-container">
        <div class="header">
            <a href="/courses/create" class="button">Novo Curso</a>
            <form action="/courses" method="GET">
                <input
                    type="text"
                    name="filter"
                    placeholder="Filtrar por Nome">
                    <button type="submit">Filtrar</button>
            </form>
        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Ch</th>
                    <th>Tipo</th>
                    <th>Alunos</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                    <tr>
                        <td>
                            {{course.coursename}}
                        </td>
                        <td>
                            {{course.ch}}
                        </td>
                        <td>
                            <span>{{course.typecourse}}</span>
                        </td>
                        <td>
                            {{course.total_students}}
                        </td>
                        <td><a href="/courses/{{course.cod}}">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}