{% extends "layout.njk" %}
{% block content %}
    <section class="card">
        <h1>Detalhes do Curso</h1>
        <fieldset>
            <legend>
                <h2>Dados do curso</h2>
            </legend>

            <div class="field-group">
                <div class="field">
                    <label for="coursename">Nome do Curso</label>
                    <div class="fielddata">{{course.coursename}}</div>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="ch">Carga Horária</label>
                    <div class="fielddata">{{course.ch}}</div>
                </div>

                <div class="field">
                    <label for="typecourse">Tipo de Curso</label>
                    <div class="field-radio">
                        <span>
                                {{"Presencial" if course.typecourse == "Presencial" else "À distância" }}
                        </span>
                    </div>
                </div>
            </div>    
            
        <a href="/courses/{{course.cod}}/edit">Editar Curso</a> 
    </section>
{% endblock content %}