{% extends "layout.njk" %}
{% block content %}
    <div class="content">
        <h1>Bem vindo!</h1>
        <p>Sistema de gerenciamento de alunos e cursos da Universidade Ceuma</p>
    </div>
    <div>
        <img src="img/background-img.jpg" alt="imagem de pessoas no computador">
    </div>
{% endblock content %}
   